# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Use LFS for binary asset types.

# PNG Textures
*.png filter=lfs diff=lfs merge=lfs -text
# glTF Binary models
*.glb filter=lfs diff=lfs merge=lfs -text
# WAV Audio files
*.wav filter=lfs diff=lfs merge=lfs -text
# OGG vorbis Audio Files
*.ogg filter=lfs diff=lfs merge=lfs -text
# True-type fonts
*.ttf filter=lfs diff=lfs merge=lfs -text
# Godot Binary Resource Files
*.res filter=lfs diff=lfs merge=lfs -text
# Godot Mesh Files
*.mesh filter=lfs diff=lfs merge=lfs -text
